<h1>Welcome to Kiasu.my!</h1>

<div>
	<h3>Have an account!</h3>
	<p>Log in here!</p>
	Del - Go to create new sessions
</div>

<br>

<div>
	<h3>Want to take your company to a greater height?</h3>
	<p>Sign Up here</p>
	Del - Go to create new recruiter
</div>


<br>
<br>
<br>
<h6>generic#landing. Root.</h6>