<h1>Welcome to Kiasu.my!</h1>

<div>
	<h3>Returning User?</h3>
	<p>Log in here!</p>
</div>

<br>

<div>
	<h3>First Time Login?</h3>
	<p>Set up your account here!</p>
</div>

<br>

<div>
	<h3>Want to take your company to a greater height?</h3>
	<p>Sign Up here</p>
</div>


<br>
<br>
<br>
<h6>generic#landing. Root.</h6>